extends layout

block content
  h2= Recipes 

  include: ../routes/index 
  - const meal = 'pizza';
  - const recipe = getRecipe(meal);

  h1 = recipe.name 

  h2 Ingredients 
  ul 
    each item in recipe.ingredients 
      li = item 

  h2 Instructions 
  ul 
    each step in recipe.instructions 
      li = step


  
