extends layout

block content
  h2= Recipes 

  include ../routes/index 
  - const meal = 'pizza';
  - const recipe = getRecipe(meal);

  h1 = recipe.name 

  h2 Ingredients 
  ul 
    each item in recipe.ingredients 
      li = item 

  h2 Instructions 
  ul 
    each step in recipe.instructions 
      li = step

  form(action='/recipe',method='post')
    label(for='name-text') Recipe Name: 
    input(type='text',id='name-text',name='name')
    h4 Ingredients 
    textarea(id='ingredients-text',name='ingredients',rows='4',cols='50')
    button(id='add-ingredient',type='button') ADD
    h4 Instructions
    textarea(id='instructions-text',name='instructions',rows='4',cols='50')
    button(id='add-instruction',type='button') ADD
    h4 Open Camera 
    input(type='file',id='image-input',name='images',accept='image/*',multiple)
    button(id='submit',type='submit') SUBMIT
